.add-dialog__product-image{
    height: 150px;
    cursor: pointer;
}
.add-dialog__image-input{
    display: none;
}
.add-dialog__product-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-dialog__product-image-wrapper{
    display: flex;
    justify-content: center;
}

.add-dialog__product-order-count{
    margin-top: 20px!important;
    width: 20%;
}

.add-dialog__product-image-error{
    color: #f44336;
}
.add-dialog__free-delivery-info{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    color: #ff0000;
    margin-top: 10px;
}
.add-dialog__product-price{
    display: flex;
    align-items: flex-end;
}