.add-dialog__product-image{
    height: 150px;
    cursor: pointer;
}
.add-dialog__image-input{
    display: none;
}
.add-dialog__product-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-dialog__product-image-wrapper{
    display: flex;
    justify-content: center;
}

.add-dialog__product-order-count{
    margin-top: 20px!important;
    width: 20%;
}

.add-dialog__product-image-error{
    color: #f44336;
}