.page-content-wrapper{
    padding: 30px 20px 0px;
}

.shopping-page__user-phone{
    margin-top: 32px;
    margin-bottom: 5px;
}
.shopping-page__user-phone-label{
    margin-top: -40px;
}
.shopping-page__orders-send-btn{
    margin-top: 16px!important;
}
.shopping-page__empty-message{
    text-align: center;
    font-size: 20px;
}

.order-controlls-wrapper__info{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.order-info-wrapper{
    margin-bottom: 30px;
    margin-top: 10px;
}
.order-buttons-group{
    margin-bottom: 5px;
}