.products-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width:1360px;
    margin:60px auto
}

.product-list-wrapper{
    padding-top: 48px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .products-list{
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
        align-items: center;
        flex-wrap: unset;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .products-list{
        margin-right: 0px;
        margin-left: 0px;
    }
}